<table style="width:40%">
  <tr>
    <th>Input</th>
    <th>Output</th>
    <th>Vars</th>
    <th>Functions</th>
  </tr>
  <tr>
    <td>
      <textarea [(ngModel)]="input" (keyup)="onChange()" 
                name="input" rows="20" cols="25">
      </textarea>
    </td>
    <td>
      <textarea [(ngModel)]="ans" 
                name="output" rows="20" cols="25">
      </textarea>
    </td>
    <td>
      <textarea [(ngModel)]="vars" 
                name="vars" rows="20" cols="25">
      </textarea>
    </td>
    <td>
      <textarea [(ngModel)]="functions" 
                name="functions" rows="20" cols="25">
      </textarea>
    </td>
  </tr>
</table>