.content-inside-grid{
  position: absolute;
  top: 0px;
  width: 380px;
}

.mat-tab-group {
  width: 380px;
}

::ng-deep.mat-tab-link,  ::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
    min-width: 100px!important;
}

.label-version {
  text-align: right;
  margin-right: 10px;
}

.progressBar {
  position: fixed;
  bottom: 0px;
  width: 90%;
  transform: translate(5%, 0%); /* (100%-90%)/2 */
}